---
import { normalizeSlug } from "../utils/normalizeSlug";
import { slugANormal } from "../utils/slugANormal";

interface Props {
  thread?: string;
  headers: string[];
  rows: { title: string; replies: number; views: number; root?: boolean }[];
}

const { thread, headers, rows } = Astro.props;
---

<table class="w-full">
  <thead class="table-caption">
    <tr class="flex w-full">
      <th class="thead main-cell justify-center">
        <a class="main-cell" href="/wahtever">
          {thread ? normalizeSlug(thread).toUpperCase() : headers[0]}</a
        >
      </th>
      <th class="thead">
        <a class="main-cell" href="/wahtever">
          {headers[1]}
        </a>
      </th>
      <th class="thead">
        <a class="main-cell" href="/wahtever">
          {headers[2]}
        </a>
      </th>
    </tr>
  </thead>

  <tbody>
    {
      rows.map((r) => (
        <tr class="flex">
          <td class="main-cell">
            <a
              class="main-cell"
              href={`/threads/${thread}/${slugANormal(r.title)}`}
            >
              <img
                class="icon"
                src={r.root ? "/pin.svg" : "/check.svg"}
                alt="Pin icon"
              />
              <p>{r.title}</p>
            </a>
          </td>
          <td class="cell">
            <a class="cell" href={`/threads/${thread}/${slugANormal(r.title)}`}>
              {r.replies}
            </a>
          </td>
          <td class="cell">
            <a class="cell" href={`/threads/${thread}/${slugANormal(r.title)}`}>
              {r.views}
            </a>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>

<style>
  table {
    border-collapse: collapse;
  }
  @media (min-width: 1900px) {
    table,
    .thead {
      margin: 0 auto;
      width: 70%;
    }
  }
  .thead {
    background-color: #23262d;
    color: white;
    padding: 1rem;
    flex: 1;

    background: linear-gradient(
      180deg,
      rgba(58, 80, 183, 1) 16%,
      rgba(19, 21, 26, 1) 100%
    );
    text-align: center;
    margin-bottom: 1rem;
  }

  td {
    color: var(--main);
  }
  .cell {
    text-align: center;
    flex: 1;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-cell {
    padding: 0 1rem;
    flex: 3;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .icon {
    border-radius: 50%;
    border: 1px solid var(--sub);
    padding: 5px;
  }

  tbody tr {
    padding: 0.5rem;
  }
  tbody tr:hover {
    cursor: pointer;
    background: rgba(212, 224, 247, 0.5);
    outline: 1px solid var(--main);
  }
</style>
